.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.hero {
  background-color: var(--ifm-color-secondary);
  padding: 80px 0;
}

.heroTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

.heroSubtitle {
  font-size: 1rem;
  font-weight: 300;
  color: var(--radfish-gray-darker);
  margin-bottom: 20px;
}

.cardContainerRow {
  gap: 15px;
}

.card {
  border: 1px solid var(--radfish-gray-light);
  border-radius: 8px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
}

.card__header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card__body {
  font-size: 1.1rem;
  color: var(--radfish-gray-dark);
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 996px) {
  .cardContainerRow {
    gap: 0;
  }
}
