.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

/* new changes */

.hero {
  background-color: var(--ifm-color-secondary);
  padding: 80px 0;
}

.heroTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}

.heroSubtitle {
  font-size: 1rem;
  font-weight: 300;
  color: #333;
  margin-bottom: 20px;
}

.heroDescription {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #666;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.2s ease-in-out;
  height: 300px; /* Set a fixed height for the cards */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure content is spaced out within the fixed height */
}

[data-theme="dark"] .card {
  color: #000;
}

.card:hover {
  transform: scale(1.05);
}

.card__header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card__body {
  font-size: 1.1rem;
  color: #666;
  flex-grow: 1; /* Allow the body to take up any remaining space */
  overflow: hidden; /* Prevent text overflow */
  text-overflow: ellipsis; /* Add ellipsis to long content */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit the number of lines (optional) */
  -webkit-box-orient: vertical;
}
